#tea {
    background-image: url("nasa website.jpg");
    background-size: 100%; 
    height: 110%;
    width: 100%;
}

#about{
    text-align: left;
    text-decoration: underline;
    font-weight: bolder;
    font-family: sans-serif;
}
body{
    background-color: rgb(197, 192, 196);
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{
    text-align: center;
    
}
